.imgcontainer {
    display: flex;
    height: 500px;
    width: 900px;
    margin: auto;
}

.img {
    background-color: blue;
    width: 1200px;
}
.pic1{
  background-image: url("picture/1.png");
  background-size: cover;
}
.pic2{
  background-image: url("picture/2.png");
  background-size: cover;
}
.pic3{
  background-image: url("picture/3.png");
  background-size: cover;
}

.buttoncontainer {
    display: flex;
    flex-direction: row;
    align-content: center;
    background-color: yellow;
}

.btn {
    width: 10px;
    height: 10px;
    border: solid 1px black;
    border-radius: 50%;
}
