.imgcontainer {
  position: relative;
    height: 450px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.img {
  position: absolute;
    background-color: blue;
    height: 450px;
    width: 800px;
}
.pic1{
  left: 0%;
  background-image: url("picture/1.png");
  background-size: cover;
}
.pic2{
left: 100%;
  background-image: url("picture/2.png");
  background-size: cover;
}
.pic3{
left: 200%;
  background-image: url("picture/3.png");
  background-size: cover;
}

#buttoncontainer {
    display: block;
    position: absolute;
    flex-direction: column;
    align-content: center;
    background-color: yellow;
    top: 50%;
    left: 97%;
    transform: translateY(-50%);
}

.btn {
    width: 17px;
    height: 17px;
    border: solid 1px black;
    border-radius: 50%;
}
